[[source]]

url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-tagging = "*"
"pybase62" = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
pymysql = "*"
mysqlclient = "*"
ipython = "*"
django-debug-toolbar = "*"
django-silk = "*"
uwsgi = "*"


[dev-packages]



[requires]

python_version = "3.6"